<div class="search-form mt-4">
  <form method="post">
    <div class="form-group">
      <label for="search-input">Tu khoa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa"
      />
    </div>
    <div class="form-group">
      <label for="gender-input">Tu khoa</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="0">---Chon gioi tinh--</option>
        <option value="1">Nam</option>
        <option value="2">Nu</option>
        <option value="3">Other</option>
        </select>
    </div>
    <div>

        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </div>
    
  </form>
</div>